.App {
  text-align: center;
}

.App-header {
  background-color: #324876;
  /* min-height: 50px; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
span {
  display: none;
  color: white;
  text-align: left;
}
.App-link:hover span {
  display: inline-block;

  margin-left: 5px;
}
.main {
  margin: 0;
  background-color: #efefe7;
  padding-top: 10px;
  justify-content: center;
  display: block;
}

.introduction {
  display: flex;
  margin: 20px;
  padding: 20px;
}

p.intro {
  font-size: 25px;
  font-family: cursive;
  color: darkblue;
  text-align: center;
}

.programming {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  margin: 5px;
  padding: 20px;
  font-size: 25px;
  font-family: cursive;
  color: darkblue;
}
